body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: inline-block;
  font-weight: bold;
  width:250px;
}

input[type="number"] {
  width: 150px;
}

button {
  margin-top: 10px;
}

#result {
  font-weight: bold;
}
